<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dkjs.fitness">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".comm.FitnessApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="ml_channel"
            android:value="wandoujia" />

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".account.RegisterAndLoginActivity" />
        <activity android:name=".mine.ActivityCreateActivity" />
        <activity android:name=".mine.MineMoneyActivity" />
        <activity android:name=".account.RegisterActivity" />
        <activity android:name=".account.ForgetPasswordActivity" />
        <activity android:name=".mine.UserInfoActivity" />
        <activity android:name=".act.ActShowActivity" />
        //达人 私教认证环节

        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".mine.ActivityManagerActivity" />
        <activity android:name=".chat.ChatRoomActivity" />

        <!-- 视频录制Activity -->
        <activity
            android:name="com.jmolsmobile.landscapevideocapture.VideoCaptureActivity"
            android:screenOrientation="sensor" />
        <activity android:name=".mine.SettingsActivity" />

        <!-- 登录广播接收器 -->
        <receiver android:name=".comm.LoginBroadcastReceiver">
            <intent-filter>
                <action android:name="com.dkjs.fitness.login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".mine.FankuiActivity" />
        <activity android:name=".mine.AuthIDActivity" />
        <activity android:name=".mine.AuthIDUpLoadActivity" />
        <activity android:name=".mine.CheckOutTicketsActivity" />
        <activity android:name=".mine.UpLoadCoachImgActivity" />
        <activity android:name=".mine.WithDrawActivity" />
        <activity android:name=".find.JoinPartyAndPayActivity" />
        <activity android:name=".find.HomePageActivity" />
        <activity android:name=".mine.SetPriceActivity" />
        <activity android:name=".mine.AboutPriceActivity" />
        <activity android:name=".mine.CreateActMoreSettingsActivity"></activity>
    </application>

</manifest>